.product-item-container{
    background-color: #572D87;
    width: calc(140px + 1vw);
    height: calc(370px + 2.3vw);
    margin: 1%;
    overflow: hidden;
    padding: 12.5px;
    display: flex;
    flex-direction: column;
}

.product-image-wrap{
    overflow: hidden;
  }
.product-image{
    background-color: green;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 220px;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  .product-image:hover{
    scale: 1.1;
    transition: 900ms;
}

.product-title{
    color: #9FCE9A;
    font-size: calc(13px + 0.2vw);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
.product-title:hover{
    text-decoration: underline;
}

.product-price{
    color: white;
    font-size: calc(12px + 0.2vw);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.product-qty{
    color: white;
    font-size: calc(10px + 0.2vw);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.product-text{
    color: #9FCE9A;
    font-size: calc(10px + 0.2vw);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}

.buy-button{
    background-color: #9FCE9A;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25px;
    
    margin-top: auto;
    bottom: 0;

    border-width: calc(1px + 0.08vw);
    border-style: solid;
    border-radius: 25px;
    //border-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buy-button:hover{
    cursor: pointer;
    background-color: #61995b;
}

.buy-button:active{
    cursor: pointer;
    background-color: #395a36;
}
