.cart-container {
    background-color: #572D87;
    width: 100%;
    min-height: calc(225px + 38vw);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.cart-wrap{
    //background-color: #9b2d2d;
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    object-fit: contain;
    flex-wrap: wrap;
    z-index: 21;
    margin-top: calc(20px + 4vw);
    margin-bottom: 30px;
}


.basket-container{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: flex;
    display: flex;
    z-index: 30;
    justify-content: top;
    align-items: top;
    flex-direction: column;
    padding: 2.5% 2% 2.5% 2%;
}

.basket-item-wrap{
    //background-color: green;
    display: flex;
    width: 100%;
    height: flex;
    margin-top: calc(15px + 0.8vw);
}

.basket-left-head{
    display: flex;
    width: 40%;
    height: flex;
    object-fit: contain;
    justify-content: left;
}
.basket-other-head{
    display: flex;
    width: 20%;
    height: flex;
    object-fit: contain;
    justify-content: center;
}


.summary-container{
    background-color: rgb(231, 231, 231);
    width: 450px;
    height: flex;
    display: flex;
    z-index: 30;
    justify-content: top;
    align-items: top;
    flex-direction: column;
    padding: 2.5% 2% 2.5% 2%;}

.cart-line{
    width: 100%;
    height: calc(1px + 0.06vw);
    background-color: #cacaca;
    margin-top: calc(15px + 0.8vw);
}

.cart-hb-container{
    display: flex;
    width: 100%;
    height: flex;
    
}

.cart-hb-header-wrap{
    display: flex;
    width: 50%;
    height: flex;
    object-fit: contain;
}

.cart-hb-button-wrap{
    display: flex;
    justify-content: right;     //sets button to the right
    width: 50%;
    height: flex;
    object-fit: contain;
}

.small-header-container{
    //background-color: yellow;
    display: flex;
    width: 100%;
    height: flex;
    object-fit: contain;
    margin-top: calc(15px + 0.8vw);
}

.head-left{
    display: flex;
    justify-content: left;   
    width: 50%;
    height: flex;
    object-fit: contain;
}

.head-right{
    display: flex;
    justify-content: right;  
    width: 50%;
    height: flex;
    object-fit: contain;
}

.form-select{
    width: 100%;
    padding: calc(5px + 0.1vw);
    margin-top: calc(15px + 0.8vw);
    border-style: none;
}

.checkout-button{
    color: white;
    background-color: #572D87;
    width: 100%;
    padding: calc(5px + 0.1vw);
    margin-top: calc(15px + 0.8vw);
    font-weight: 600;
    font-size: calc(12px + 0.2vw);
}

.basketheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #858585;
    font-size: calc(10px + 0.2vw);
}


.smallsumheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: calc(12px + 0.2vw);
}


.cartheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: calc(15px + 0.3vw);
  }

.redTextCart-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redTextCart {
    display: flex;
    color: red;
    margin-top: 10px;
    font-size: calc(9px + 0.3vw);
    font-weight: bold;
    margin-top: 10px;  
}




  @media screen and (min-width: 1700px) {
    .basket-container{
        width: 700px;
        min-height: 500px;
    }
    
    .summary-container{
        width: 300px;
        min-height: 500px;
    }
  }