.cart-container {
    background-color: #572D87;
    width: 100%;
    min-height: calc(225px + 20vw);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.cart-wrap{
    //background-color: #9b2d2d;
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    object-fit: contain;
    flex-wrap: wrap;
    z-index: 21;
    margin-top: 30px;
    margin-bottom: 30px;
}


.basket-container{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: flex;
    display: flex;
    z-index: 30;
    justify-content: top;
    align-items: top;
    flex-direction: column;
    padding: 60px 40px 60px 40px;
}

.summary-container{
    background-color: rgb(231, 231, 231);
    width: 450px;
    height: flex;
    display: flex;
    z-index: 30;
    justify-content: top;
    align-items: top;
    flex-direction: column;
    padding: 60px 40px 60px 40px;
}

.cart-line{
    width: 100%;
    height: calc(1px + 0.06vw);
    background-color: #cacaca;
    margin-top: 5%;
}

.cart-hb-container{
    display: flex;
    width: 100%;
    height: flex;
    
}

.cart-hb-header-wrap{
    display: flex;
    width: 50%;
    height: flex;
    object-fit: contain;
}

.cart-hb-button-wrap{
    display: flex;
    justify-content: right;     //sets button to the right
    width: 50%;
    height: flex;
    object-fit: contain;
}

.small-header-container{
    //background-color: yellow;
    display: flex;
    width: 100%;
    height: flex;
    object-fit: contain;
    margin-top: 5%;
}

.head-left{
    display: flex;
    justify-content: left;   
    width: 50%;
    height: flex;
    object-fit: contain;
}

.head-right{
    display: flex;
    justify-content: right;  
    width: 50%;
    height: flex;
    object-fit: contain;
}

.form-select{
    width: 100%;
    padding: calc(5px + 0.1vw);
    margin-top: 5%;
    border-style: none;
}

.checkout-button{
    color: white;
    background-color: #572D87;
    width: 100%;
    padding: calc(5px + 0.1vw);
    margin-top: 5%;
}


smallsumheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: calc(10px + 0.3vw);
}


cartheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: calc(15px + 0.3vw);
  }



  @media screen and (min-width: 1700px) {
    .basket-container{
        width: 700px;
        min-height: 500px;
    }
    
    .summary-container{
        width: 300px;
        min-height: 500px;
    }
  }