.contact-container {
    background-color: #ffffff;
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
}

.logo-black-container{
    background: url('../../../public/images/logo-black.png') right center no-repeat;
    background-size: 50%;
}