.green-container {
    background-color: #93CF9C;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
}
