.green-container {
    background-color: #93CF9C;
    width: 100%;
    height: calc(150px + 14vw);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.gc-container{
    //Have to be rgba with opacity at the end or the other child elements inside fc-container will also be affected by the opacity!
    background-color: none;
    width: calc(250px + 30vw);
    height: 100%;

    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.gc-line{
    width: 100%;
    height: calc(1px + 0.06vw);
    background-color: #ffffff;
    margin-top: 5%;
}

.gc-hb-container{
    display: flex;
    width: 100%;
    height: flex;
    margin-top: 5%;
    margin-bottom: 3%;
}

.gc-hb-header-wrap{
    display: flex;
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.gc-hb-button-wrap{
    display: flex;
    justify-content: right;     //sets button to the right
    width: 50%;
    height: 100%;
    object-fit: contain;
}


gcheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: calc(8px + 0.9vw);
  }