.super-container{
    background: url('../../../public/images/streetView-BnW.jpg') center center/cover no-repeat;
    background-attachment:  fixed;
    
    z-index: 20;
    overflow: hidden;
}
.hero-container {
    background-image: linear-gradient(to bottom, rgba(87,45,135, 0.85), rgba(87,45,135,1));
    width: 100%;
    height: calc(300px + 10vw);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.logo-container {
    background: url('../../../public/images/logo-PandP-green.png') center center/cover no-repeat;
    margin-top: 50px;
    width: calc(210px + 7.5vw);
    height: calc(60px + 7.5vw);
    
    z-index: 22;
}

.homeheader{
    color: white;
    font-size: calc(12px + 0.9vw);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-container>h1 {
    color: white;
    font-size: calc(20px + 2vw);
    margin-top: -300px;
}

.hero-container>p {
    margin-top: 8px;
    color: white;
    font-size: calc(12px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro-container{
    margin-top: 20px;
    margin-bottom: 3%;
    justify-content: top;

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.previewContainer{
    align-self: center;
    justify-self: center;
    background-color: rgb(255, 255, 255);
}

.first-button{
    margin-top: 45px;
    align-items: center;
    object-fit: contain;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;

    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
}

.first-button:hover{
    background-color: #9FCE9A;
    cursor: pointer;
}

.first-button:active{
    background-color: #81ce77;
}

.buttontext{
    color: white;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

