.super-container{
    background: url('../../../public/images/streetView-scaled.jpg') center center/cover no-repeat;
    z-index: 20;
}
.hero-container {
    background-color: #572D87;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    opacity: 95%;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
}

.logo-container {
    background: url('../../../public/images/loggyBig.png') center center/cover no-repeat;
    margin-top: 50px;
    width: 500px;
    min-height: 166px;
    
    z-index: 22;
}

.hero-container>h1 {
    color: white;
    font-size: calc(20px + 2vw);
    margin-top: -300px;
}

.hero-container>p {
    margin-top: 8px;
    color: white;
    font-size: calc(12px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro-container{
    margin-top: 8%;
    margin-bottom: 3%;
}

.previewContainer{
    align-self: center;
    justify-self: center;
    background-color: rgb(255, 255, 255);
}



h7{
color: white;
font-size: 50;
}

p7{
color: white;
font-size: 12;
}