.transition-container {
    background: url('../../../public/images/transition.png') top center/calc(900px + 67vw) calc(250px + 14vw) no-repeat;
    background-color: #ffffff;
    width: 100%;
    height: calc(450px + 20vw);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;

    //for extra whitespace under backgroundimage
    //margin-bottom: calc(200px + 5vw);
    overflow: hidden;
}
