.purple-container {
    //background-color: #703A7D;
    background: linear-gradient(90deg, rgb(132, 69, 148) 0%, rgb(106, 38, 122) 35%, rgb(73, 37, 114) 100%);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
}

.purpc-container{
    //Have to be rgba with opacity at the end or the other child elements inside fc-container will also be affected by the opacity!
    background-color: none;
    width: 1000px;
    height: 100%;

    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.purpc-line{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 50px;
}

.purpc-hb-container{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

.purpc-hb-header-wrap{
    display: flex;
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.purpc-hb-button-wrap{
    display: flex;
    justify-content: right;     //sets button to the right
    width: 50%;
    height: 100%;
    object-fit: contain;
}

purpcheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 30px;
}

.purp-bottom-container{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.purp-circle-container{

    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-content: center;
    
}

.purp-circle{
    background: url('../../../public/images/stackedBooks.jpg') center center/cover no-repeat;
    width: 93%;
    height: 93%;
    margin: 3px;
    border-radius: 100%;
    justify-self: center;
}
.purp-outer-circle{
    display: flex;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}

.purp-text-container{
    display: flex;
    width: 700px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    
}

purpctext{
    font-family: "Old Standard TT";
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;

    text-decoration: inherit;
}