.podcastList-container {
    background-color: #572D87;
    width: 100%;
    height: flex;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}