.rounded-button{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;

    border-width: calc(1px + 0.08vw);
    border-style: solid;
    border-radius: 25px;
    //border-color: white;
    right: 0;
}

.rounded-button:hover{
    cursor: pointer;
}


.rounded-button-text{
    font-size: calc(5px + 0.5vw);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}