
.small-cards-container {
  background-color: none;
  display: flex;
  flex-flow: row;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 410px;
  margin-top: 10px;
}

.small-card{
  background-color: none;
  width: 30%;
  height: flex;
  margin: 30px;
  overflow: hidden;
}

.small-card:hover {
background-color: #9FCE9A;
}

.small-card-image-wrap{
  background-color: none;
  height: 60%;
  margin: 10px;
}

.small-card-image{
  background-color: green;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.small-card-header{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #572D87;
font-size: 20px;
margin-top: 5px;
}

.small-card-text{
font-family: "Old Standard TT";
color: #555555;
font-size: 15px;
font-weight: 600;
margin-top: 5px;
line-height: 15px;

text-decoration: inherit;
}