





.bg-white{
  //height: calc(300px + 30vw) !important;
}






.slick-next {
    right: -70px !important;
    background: rgb(49, 46, 129) !important;
    border-radius: 100%;
  }
  
  .slick-prev {
    left: -70px !important;
    z-index: 2;
    background: rgb(49, 46, 129) !important;
    border-radius: 100%;
  }
  

  .slick-prev:before,
  .slick-next:before {
    color: rgb(0, 0, 0);
  }

